<div ng-controller="editCtrl">
	<div class="page-header">
		<h1>Izmena igraca</h1>
	</div>
	<br>
	<form>
		<div class="form-group"  >
			<label for="1">Ime i prezime</label> <input class="form-control"
				id="1" ng-model="ed.imePrezime">
		</div>
		<div class="form-group">
			<label for="2">Broj</label> 
			<input class="form-control"
				id="2" ng-model="ed.broj">
		</div>
	
		
	<div class="form-group">
			<label for="5">Pozicija</label> <select class="form-control"
				id="5" ng-model="ed.pozicijaId">
				<option ng-repeat="p in pozicije" value="{{p.id}}">{{p.naziv}}</option>
			</select>
		</div>
		
		<div class="form-group">
			<label for="5">Tim</label> <select class="form-control"
				id="5" ng-model="ed.timId">
				<option ng-repeat="t in timovi" value="{{t.id}}">{{t.ime}}</option>
			</select>
		</div>
		<button class="btn btn-primary" ng-click="edit()">Sačuvaj</button>
</form>
	
</div>