

<div ng-controller="igraciCtrl">
	<div class="page-header">
		<br>
		<h2>Igrači</h2>
	</div>

	<h4>Pretraga</h4>

	<form>
		<div class="form-group">
			<label for="1">Ime i prezime</label> <input class="form-control"
				id="1" ng-model="search.imePrezime">
		</div>
		<div class="form-group">
			<label for="2">Broj</label> <input class="form-control" id="2"
				ng-model="search.broj">
		</div>



		<div class="form-group">
			<label for="5">Tim</label> <select class="form-control" id="5"
				ng-model="search.timId">
				<option ng-repeat="t in timovi" value="{{t.id}}">{{t.ime}}</option>
			</select>
		</div>
		<button class="btn btn-primary" ng-click="search2()">Pretraži</button>
	</form>




	<div class="btn-group pull-right">
		<button ng-disabled="pageNum == 0" ng-click="go(-1)"
			class="btn btn-default">Prethodna</button>
		<button ng-disabled="pageNum == totalPages - 1" ng-click="go(1)"
			class="btn btn-default">Sledeća</button>
	</div>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Ime i prezime</th>
				<th>Broj</th>
				<th>L.greške</th>
				<th>Pozicija</th>
				<th>Tim</th>

			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="a in igraci ">
				<td>{{a.imePrezime}}</td>
				<td>{{a.broj}}</td>
				<td>{{a.licne}}</td>
				<td>{{a.pozicijaId}}</td>
				<td>{{a.timId}}</td>
				<!-- warning zuti -->
				<th><button class="btn btn-warning" ng-click="goToEdit(a.id)">Izmeni</button></th>
				<!-- danger crveni -->
				<th><button class="btn btn-danger" ng-click="delete(a.id)">Obrisi</button></th>
				<!-- primary plavi -->
				<th><button class="btn btn-primary" ng-click="faul(a.id)"
						ng-disabled="a.licne >= 5 || a.vanIgre">Faul</button></th>

			</tr>

		</tbody>
	</table>

	
</div>